// Mixins Here

.flex-mixin(@direction, @justify, @align) {
	display: flex;
	flex-direction: @direction;
	justify-content: @justify;
	align-items: @align;
}

.container-width-mixin(@max; @percent) {
    max-width: @max;
    width: @percent;
    margin: 0 auto;  
}

// main container 800px; 94%